/* ==========================================================================
CAPAS DE FONDO Y EDIFICIO
========================================================================== */

/* Fondo base (SIN ZOOM) */
.bg-base{
position: fixed;
inset: 0;
z-index: 0;
background-image: url('/assets/images/captura.png');
background-size: cover;
background-position: center;
pointer-events: none;
}

/* Edificio (SIN ZOOM) */
.bg-building{
position: fixed;
inset: 0;
z-index: 1;
transition: transform 0.2s ease;
transform: translateY(180px) scale(0.6);
display: flex;
align-items: baseline;
justify-content: center;
scale: 0.60;
}

/* Estado de zoom */
.zoom-building{
position: fixed;
inset: 0;
z-index: 1;
transition: transform 0.2 ease;
transform: translateY(140px) scale(0.8);
display: flex;
align-items: baseline;
justify-content: center;
}

/* ==========================================================================
LOGIN: MAIN + TIPOGRAFÍA
========================================================================== */

.page-index main{
height: 50vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.color-texto{
color: white;
margin-bottom: 15px;
text-align: center;
}

/* ==========================================================================
ESCENA: CANVAS + LOGIN PANEL
========================================================================== */

.login-panel{
position: absolute;
inset: 0;
display: grid;
place-items: center;
pointer-events: none;
z-index: 3;
top: 300px;
}

.login-panel > *{ pointer-events: auto; }

.login-card{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
padding: 8px 12px;
}



/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

@media (max-width: 1700px){
    .logo{
        height: 100px;
    }

    .floor-layer{
      width: 100%;        /* antes: 100vw */
      max-width: 400px;
      min-width: 140px;
    }

.floor-layer-8{
  bottom: 18%
}

.floor-layer-11{
  bottom: 36%;
}

.floor-layer-12{
  bottom: 55.7%;
}

.panel{ width: 92vw; height: auto; min-height: 70vh; }
.choices{ grid-template-columns: 1fr; }

.floors-layout{
    grid-template-columns: minmax(260px, 1fr);
    padding: 1rem 1rem 2rem;
  }

.floor-ui{
    max-width: 100%;
    top: 180px;
    left: auto;
    height: 75px;
}  

.floor-subtitle{
    display: none;
}
}

@media (max-width: 720px){
  .input-clave{ width: 90vw; }

  .floor-layer{
    width: 100%;
    max-width: 340px;
    min-width: 90px;
}

.floor-layer-8{
  bottom: 12.3%;
}

.floor-layer-11{
  bottom: 24.6%;
}

.floor-layer-12{
  bottom: 38.1%;
}

.building-frame{
  width: min(100vw, 350px);
  aspect-ratio: 5 / 11.9 /* ajustá si tu edificio es más alto/bajo */
}

}